# CRASH COURSE ON PYTHON

# What is Python?

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:
    * web development (server-side),
    * software development,
    * mathematics,
    * system scripting.

#  Table of Contents

0.1 Data types
0.1.1 Numbers, Arithmetic Operations
0.1.2 Strings
0.1.3 Printing
0.1.4 Lists
0.1.5 Dictionaries
0.1.6 Booleans
0.1.7 Tuples
0.1.8 Sets
0.1.9 Comparison Operators
0.1.10 Logical Operators
0.1.11 Assignment Operators
0.1.12 if,elif, else Statements
0.1.13 for Loops
0.1.14 while Loops
0.1.15 range()
0.1.16 List comprehension
0.1.17 functions
0.1.18 lambda expressions
0.1.19 map and filter
0.1.20 methods

## Import libraries if needed

In [1]:
import os
import numpy as np
import pandas as pd

# 0.1 Data types

## 0.1.1 Numbers, Arithmetic Operations

Some basic examples of using numbers and arithmetic operations in python :-

In [2]:
add = 1 + 1  # addition 
print(add)

2

In [3]:
mul = 1 * 3  # multiplication
print(mul)

3

In [4]:
div = 4 / 2  # division
print(div)

2.0

In [5]:
exp = 2 ** 4  # 2 to the power of 4
print(exp)

16

In [6]:
mod1 = 4 % 2   # modulus operation (return the remainder as an output)
mod2 = 5 % 2 

print(mod1)
print(mod2)

0
1

In [7]:
bodmas = (2+3) * (5+5)   # BODMAS rule
print(bodmas)

50

In [8]:
i = 100           # integer 
print(type(i))    # check the type of a variable by type() function

f = 100.5         # float
print(type(f))

<class 'int'>
<class 'float'>

Some basic arithmetic operations :-

In [9]:
print(min(10,20,30))    # returns the minimum value
print(max(10,20,30))    # returns the maximum value
print(abs(-100))        # returns the absolute value

10
30
100

In [10]:
import math
x = 100
print(math.sqrt(x))        # returns square root
print(math.factorial(5))   # returns factorial

10.0
120

# 0.1.2 Strings

You can initialize strings within single quotes or double quotes as shown by the following examples :-

In [11]:
s = 'Hello'
p = "I love Python"

print(s)
print(p)

Hello
I love Python

If you want to use quotes within the string you can use it by the following way :-

In [12]:
p1 = "I love 'Python'"       # the most straight forward way 
print(p1)

I love 'Python'

You can append two strings as follows :-

In [13]:
s1 = "Hello"
s2 = " World"

print(s1+s2)  # notice in s2 I have used a blank space before World. If not the output would have been "HelloWorld".

Hello World

You can use * for reptition of a string as shown below :-

In [14]:
print('A' * 10)           # prints 'A' 10 times

AAAAAAAAAA

In [15]:
print('Hello' * 10)       # prints the word 'Hello' 10 times

HelloHelloHelloHelloHelloHelloHelloHelloHelloHello

# 0.1.3 Printing

Using .format() to print string :-

In [16]:
num = 12
name = 'Sam'

print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

# 0.1.4 Lists

Lists are mutable objects which mean they are not fixed in size and are dynamic. In simple words you can add or remove elements from Lists.

In [17]:
x = [1,2,3,"John"]       # List can contain same data types or multiple data types.
print(x)                 # print the list  
print(type(x))           # confirm the type

[1, 2, 3, 'John']
<class 'list'>

List append :-

In [18]:
my_list = ['a','b','c']      # create a list 
my_list.append('d')          # append to the list using .append() function

print(my_list)

['a', 'b', 'c', 'd']

List Su`bsetting :-

In [19]:
my_list =  ['a','b','c','d']  # create the same list 
print(my_list)
print(my_list[0])             # select the first element from the list. In Python the List indexing begins from 0.
print(my_list[1])             # select the second item. 
print(my_list[1:])            # select all items from the 1st index and onwards. 
print(my_list[:1])            # select all items before the 1st index.

['a', 'b', 'c', 'd']
a
b
['b', 'c', 'd']
['a']

# 0.1.5 Dictionaries

Dictionaries are special data types. They are stored as key:value pairs.

In [20]:
d = {'key1':'item1','key2':'item2'}    # create a dictionary
print(d)

print(d['key1'])                       # will return the value associated with the key 'key1' from the dictionary

{'key1': 'item1', 'key2': 'item2'}
item1

# 0.1.6 Booleans

Basic boolean operations :-

In [21]:
x = True             # initialize x as true 
print(type(x))       # confirm the type to be boolean
                     
y = False           # initialize y as false 
print(type(y))      # confirm the type to be boolean

<class 'bool'>
<class 'bool'>

In [22]:
x1 = 10 > 2          # will return true
print(x1)

y1 = 1 > 10          # will return false
print(y1)

True
False

# 0.1.7 Tuples

Unlike Lists Tuples are fixed size in nature. They are immutable which means you cannot add elements in a tuple.

In [23]:
t = (1,2,3,4)       # initialize a tuple t.
print(t)            # print the tuple
print(type(t))      # confirm the type

# t.append(5)       # You can't add elements to a tuple as it is immutable. So this will return an error.

(1, 2, 3, 4)
<class 'tuple'>

# 0.1.8 Sets

A set contains an unordered collection of unique and immutable objects. The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics.

In [24]:
set1 = {1,2,3}                              # create a set
print(set1)                                 # print a set

set2 = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}  
print(set2)                                 # will only return the unique values

{1, 2, 3}
{1, 2, 3}

# 0.1.9 Comparison Operators

Basic Comparison Operators :-

In [25]:
x = 10
y = 20

print(x < y)        # returns true
print(x > y)        # returns false 
print(x <= y)       # returns true
print(x >= y)       # returns false
print(x == y)       # returns false (check for equality)
print(x != y)       # returns true  (! is not operator)

True
False
True
False
False
True

In [26]:
x = 10
xx = 10.0
y = 10

print(x == xx)    # returns true
print(x is xx)    # returns false
print(x is y)     # returns true

True
False
True

In [27]:
A = [10,20,30,40]        # create a list
print(A)

print(10 in A)           # returns true
print(50 in A)           # returns false

s = "Hello World"        # sample string
print(s)                 # print string

print('e' in s)          # returns true
print('k' in s)          # returns false
print('Hello' in s)      # returns true

[10, 20, 30, 40]
True
False
Hello World
True
False
True

# 0.1.10 Logical Operators

Some examples of logical operators :-

In [28]:
print(1 > 2) and (2 < 3)                  # false and true will return false
print(1 > 2) or (2 < 3)                   # false or true will return true
print((1 == 2) or (2 == 3) or (4 == 4))   # false or false or true will return true

False
False
True

# 0.1.11 Assignment Operators

Some examples of assignment operators :-

In [29]:
x = 10
print(x)

x = x + 5
print(x)

x +=10      # similar to x = x + 10
print(x)

x -=5      # similar to x = x - 5
print(x)

x *=2      # similar to x = x * 2
print(x)

10
15
25
20
40

# 0.1.12 if,elif, else Statements

Some examples of if, elif and else statements :-

In [30]:
if 1 < 2:
    print('Yep!')         # will print 'Yep!'
   
if 1 < 2:
    print('first')
else:
    print('last')         # will print 'first'
   
if 1 > 2:
    print('first')
else:
    print('last')         # will print 'last'
   
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')         # will print middle

Yep!
first
last
middle

# 0.1.13 for Loops

Some examples of for loops :-

In [31]:
seq = [1,2,3,4,5]        # create a list

for item in seq:
    print(item)          # will print all the contents of the list seq.

1
2
3
4
5

In [32]:
seq = [1,2,3,4,5]  

for item in seq:
    print('Yep!')          # will print 'Yep!' 5 times

Yep!
Yep!
Yep!
Yep!
Yep!

In [33]:
seq = [1,2,3,4,5] 

for item in seq:
    print(item+item)       # add each element in the list with itself

2
4
6
8
10

# 0.1.14 while Loops

Example of while Loop :-

In [34]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

# 0.1.15 range()

range() function can be used to create a list. It has two paramets start and stop. Example is shown as follows :-

In [35]:
print(range(5))          # prints a list with 5 items from 0 to 4
print(range(5,20))       # prints a list from 5 to 19.

range(0, 5)
range(5, 20)

In [36]:
for i in range(5):         # you can also use a for loop with range
    print(i)

0
1
2
3
4

# 0.1.16 List comprehension

Example of List comprehension :-

In [37]:
x = [1,2,3,4]
out = []
 
for item in x:               # take each element from x, square it and append to out []
    out.append(item ** 2)
print(out)

[1, 4, 9, 16]

In [38]:
x = [1,2,3,4]

print([item ** 2 for item in x])    # same output as above with one liner

[1, 4, 9, 16]

# 0.1.17 functions

An example of a simple function in Python :-

In [39]:
def square(x):
    return x**2            # function takes an integer and returns its squared value

out = square(2)
print(out)                # returns 4

4

In [40]:
def add(x,y):
    return x+y      

out = add(2,2)
print(out)

4

# 0.1.18 lambda expressions

In [41]:
def times2(var):
    return var*2          # takes an integer as an input and returns integer times 2 as output
out = times2(2) 
print(out)


l = lambda var: var*2        # same function using lambda which is one liner
print(l(2))

4
4

# 0.1.19 map and filter

Example using map and filter along with lambda expressions :-

In [42]:
def times2(var):                                    # same times2 function as defined above
    return var*2 
   
seq = [1,2,3,4,5]                                   # create a list
print(list(map(times2,seq)))                        # use map to apply times2 function on each element of list seq.

print(list(map(lambda var: var*2,seq)))             # same as above but using lambda expression

print(list(filter(lambda item: item%2 == 0,seq)))   # filter and print those elements from list seq which are divisible by 2

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4]

# 0.1.20 string methods

In [43]:
st = 'Hello My Name is Sam'
print(st)
print(st.lower())                    # makes the string lower case
print(st.upper())                    # makes the string upper case
print(st.split())                    # returns a list of each word on space

tweet = 'Go Sports! #Sports'
print(tweet)
print(tweet.split('#'))              # split on # (any special character)

lst = [1,2,3]
print(lst)
lst.pop()                            # returns the last item from the list
print(lst)

Hello My Name is Sam
hello my name is sam
HELLO MY NAME IS SAM
['Hello', 'My', 'Name', 'is', 'Sam']
Go Sports! #Sports
['Go Sports! ', 'Sports']
[1, 2, 3]
[1, 2]

# End of the Python Programming

In [44]:
print("BYE!")

BYE!